<!-- <div class="hero">
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(assets/images/homebanner.png);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-end">
                    <div class="col-md-12 ftco-animate">
                        <div class="text">
                            <h1 class="mb-3">Online Booking</h1>
                            <h2>Of Hotel & Tour</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->

<section class="ftco-booking ftco-section  searchHistorySection mt-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <h2>Booking History</h2>
                <form action="#" class="booking-form ">
                    <div class="row">
                        <div class="col-md col-md-8 col-lg-9 pr-0">
                            <div class="">
                                <div class="searchHistory">
                                    <input type="text" class="" placeholder="Enter Booking Number">
                                </div>
                            </div>
                        </div>

                        <div class="col-md col-md-4 col-lg-3 pl-0">
                            <div class="searchHistory d-flex align-self-stretch">
                                <a href="#" class="btn btn-primary align-self-stretch d-block searchbutton"><span>Show Booking</span></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>