<div class="hero">
    <section class="home-slider owl-carousel owl-loaded owl-drag">
      <div class="slider-item" style="background-image:url(assets/images/homebanner.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-end">
            <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
              <div class="text">
                <h1 class="mb-3">Online Booking</h1>
                <h2>Of Hotel & Tour</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>