<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-sm-8 col-md-5 col-lg-4 col-10 box-shadow-2 p-0 mt-100">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0 bk-Dark-color">
                            <div class="card-header border-0 ">
                                <div class="card-title text-center login-logo">
                                    <img src="assets/images/logo.png" alt="branding logo">
                                    <!-- <h3 class="brand-text">Gujarat Tourism</h3> -->
                                </div>
                                <!-- <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Easily Using</span></h6> -->
                            </div>
                            <div class="card-content border-0 ">
                                <h3 class="brand-text text-center mb-2">Reset Password</h3>
                            </div>
                            <div class="card-content">
                                <!-- <app-social-signin></app-social-signin>
                <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>OR Using Account Details</span></p> -->
                                <div class="card-body">
                                    <!-- <h3 class="brand-text text-center mb-2">Change Password</h3> -->
                                    <form class="form-horizontal" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()" #vform="ngForm">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <i id="eyeIcon" (click)="resetPasswordType()" class="fa fa-eye-slash float-right eyeIconClass showpassWord    " aria-hidden="true"></i>
                                            <input class="form-control" type="{{passwordType}}" id="password" [(ngModel)]="resetPasswordModel.password" formControlName="password"
                                                placeholder="new password" (blur)="passwordCheck(resetPasswordModel.password,'new')"
                                            />

                                            <div class="form-control-position">

                                                <i class="la la-key"></i>
                                            </div>
                                            <small *ngIf="f.password.errors" class="mandatory">
                                                <div *ngIf="f.password.errors.required && (vform.submitted || f.password.touched)">
                                                    <span>
                                                        <img src="assets/images/invalid.svg" alt="invalid">
                                                    </span>
                                                    Mandatory : This cannot be left blank</div>

                                            </small>
                                            <div *ngIf="isNewPasswordValidated == false" class="mandatory">
                                                <span>
                                                    <img src="assets/images/invalid.svg" alt="invalid">
                                                </span>
                                                {{newPasswordValidationMessage}} </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <i id="confirmEyeIcon" (click)="resetConfirmPasswordType()" class="fa fa-eye-slash float-right eyeIconClass showpassWord    "
                                                aria-hidden="true"></i>
                                            <input class="form-control" type="{{confirmPasswordType}}" id="confirmPassword" [(ngModel)]="resetPasswordModel.confirmPassword"
                                                formControlName="confirmPassword" placeholder="confirm password" (blur)="passwordCheck(resetPasswordModel.confirmPassword,'confirm')"
                                            />

                                            <div class="form-control-position">

                                                <i class="la la-key"></i>
                                            </div>
                                            <small *ngIf="f.confirmPassword.errors" class="mandatory">
                                                <div *ngIf="f.confirmPassword.errors.required && (vform.submitted || f.confirmPassword.touched)">
                                                    <span>
                                                        <img src="assets/images/invalid.svg" alt="invalid">
                                                    </span>
                                                    Mandatory : This cannot be left blank</div>
                                            </small>
                                            <div *ngIf="isConfirmPasswordValidated == false" class="mandatory">
                                                <span>
                                                    <img src="assets/images/invalid.svg" alt="invalid">
                                                </span>
                                                {{confirmPasswordValidationMessage}} </div>
                                        </fieldset>
                                        <div *blockUI="'resetPasswordBtn'">
                                            <div class="row">
                                                <div class="col-12 col-md-12">
                                                    <button type="submit" class="btn btn-primary loginBtn">
                                                        <i class="feather ft-unlock"></i> Reset Password
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>