
<section class="ftco-booking ftco-section ftco-no-pt ftco-no-pb mt-5">
    <div class="container">
      
      <div class="row no-gutters">
        
        <div class="col-lg-12 mt-70 pb-5">
       
            <div class="row">
                <div class="DivTermsc">
                    <span style="font-size: 16px;"><b>Terms and Conditions for Reservations at TCGL Units
                    </b></span>
                    <br>
                    <hr>
                    <span style="font-size: 14px;"><b>1. BOOKING RULES </b></span>
                    <ul>
                        <li>Booking is non-transferable.</li>
                        <li>Reservation will stand cancelled if the tourist fails to avail the accommodation
                            by 6:00 pm of his scheduled date of arrival in the unit. Late arrival will not absolve
                            the tourist from paying the full tariff. Failing this the booking will be treated
                            as cancelled and deposit paid will be forfeited.</li>
                        <li>In case a tourist shortens the duration of his proposed stay, the advance paid for
                            the unoccupied period will not be adjusted. No refund will be admissible.</li>
                        <li>Tariff is subject to change without prior notice.</li>
                        <li>For children up to 5 years no occupancy charges will be levied and no extra mattress
                            will be provided. Children above 5 years will be charged as extra person and charged
                            accordingly for extra mattress.</li>
                        <li>Extra bed will not be provided but extra mattress with linen will be provided.</li>
                        <li>Taxes as applicable will be extra</li>
                        <li>All disputes are subject to the jurisdiction of Ahmedabad courts only.</li>
                        <li>Please carry a valid photo Identity card of all the guests occupying the room /
                            rooms along with Booking Receipt at the time of Check- in at the Hotel.</li>
                        <li>Private catering is not allowed.</li>
                        <li>The tourist is requested to take care of his belongings. The Unit Manager / staff
                            shall not be responsible for the loss caused due to theft etc.</li>
                        <li>Loss or damage to the Corporation property such as building, furniture, mattress,
                            linen,and utensils will have to be done good by the tourist before he leaves the
                            unit.</li>
                        <li>The Unit Manager are overall in charge of the property and tourists will have to
                            abide by his direction and his decision will be final relating to payment of bills
                            or any other matter.</li>
                        <li>The Corporation reserves the right to amend, alter and frame new rules from time
                            to time which shall be binding to the user of the facilities</li>
                        <li>Management reserves the right to cancel advance booking in exceptional and unavoidable
                            circumstances.</li>
                    </ul>
                    <span><b>CHECK-OUT/IN TIME: 0900 HRS. 100% ADVANCE REQUIRED FOR THE ENTIRE DURATION
                        OF STAY AT THE TIME OF BOOKING. </b></span>
                    <hr>
                    <span style="font-size: 14px;"><b>2. CANCELLATION POLICY FOR TCGL UNITS </b></span>
                    <table border="1px" class="termsAndConditionsTbl">
                        <tbody><tr>
                            <th>
                                Season</th>
                            <th>
                                Notice for Cancellation</th>
                            <th>
                                Refund (in %)</th>
                            <th>
                                Unit</th>
                        </tr>
                        <tr>
                            <td>
                                All year round</td>
                            <td>
                                <b>For online booking –</b> 2 days (48 hours) prior to booking date</td>
                            <td>
                                90%</td>
                            <td>
                                All Units</td>
                        </tr>
                        <tr>
                            <td>
                                All year round</td>
                            <td>
                                <b>For physical booking –</b> 2 clear working days excluding date of application
                                and date of booking. Public holidays and Sundays will not be considered as said
                                period of 2 days</td>
                            <td>
                                90%</td>
                            <td>
                                All Units</td>
                        </tr>
                    </tbody></table>
                    <br>
                    <b>Note:</b>
                    <ul>
                        <li>First Day Start from Booking Date</li>
                        <li>All disputes are subject to the jurisdiction of Ahmedabad courts only. </li>
                    </ul>
                    <b>Amendments in dates will be treated as Cancellation.</b>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>

