<!-- <div class="hero">
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(assets/images/homebanner.png);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-end">
                    <div class="col-md-12 ftco-animate">
                        <div class="text">
                            <h1 class="mb-3">Online Booking</h1>
                            <h2>Of Hotel & Tour</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->

<section class="ftco-booking ftco-section  searchHistorySection mt-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <h2>Booking History</h2>
                <form action="#" class="booking-form ">
                    <div class="row">
                        <div class="col-md col-md-8 col-lg-9 pr-0 m-searchHistory">
                            <div class="">
                                <div class="searchHistory">
                                    <input type="text" class="" placeholder="Enter Booking Number">
                                </div>
                            </div>
                        </div>

                        <div class="col-md col-md-4 col-lg-3 pl-0 m-searchHistory-btn">
                            <div class="searchHistory d-flex align-self-stretch">
                                <a href="#" class="btn btn-primary align-self-stretch d-block searchbutton"><span>Show Booking</span></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-menu bg-light ftco-no-pt ">
    <div class="container-fluid px-md-4">
        <div class="container">
            <!-- <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Restaurant</span>
            <h2>Destinations</h2>
          </div>
        </div> -->
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <h2 class="bs-title bb-0">Policies</h2></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <h4 class="formSubTitle border-bottom bt-0 pb-3">Terms and Conditions for Reservations at TCGL Units </h4></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <h4 class="formSubTitle bt-0 pb-3">1. BOOKING RULES </h4></div>

                        <ul class="policyUl">
                            <li>Booking is non-transferable.</li>
                            <li>Reservation will stand cancelled if the tourist fails to avail the accommodation by 6:00 pm of his scheduled date of arrival in the unit. Late arrival will not absolve the tourist from paying the full tariff. Failing this the booking will be treated as cancelled and deposit paid will be forfeited.</li>
                            <li>In case a tourist shortens the duration of his proposed stay, the advance paid for the unoccupied period will not be adjusted. No refund will be admissible.</li>
                            <li>Tariff is subject to change without prior notice.</li>
                            <li>For children up to 5 years no occupancy charges will be levied and no extra mattress will be provided. Children above 5 years will be charged as extra person and charged accordingly for extra mattress.</li>
                            <li>Extra bed will not be provided but extra mattress with linen will be provided.</li>
                            <li>Taxes as applicable will be extra</li>
                            <li>All disputes are subject to the jurisdiction of Ahmedabad courts only.</li>
                            <li>Please carry a valid photo Identity card of all the guests occupying the room / rooms along with Booking Receipt at the time of Check- in at the Hotel.</li>
                            <li>Private catering is not allowed.</li>
                            <li>The tourist is requested to take care of his belongings. The Unit Manager / staff shall not be responsible for the loss caused due to theft etc.</li>
                            <li>Loss or damage to the Corporation property such as building, furniture, mattress, linen,and utensils will have to be done good by the tourist before he leaves the unit.</li>
                            <li>The Unit Manager are overall in charge of the property and tourists will have to abide by his direction and his decision will be final relating to payment of bills or any other matter.</li>
                            <li>The Corporation reserves the right to amend, alter and frame new rules from time to time which shall be binding to the user of the facilities</li>
                            <li>Management reserves the right to cancel advance booking in exceptional and unavoidable circumstances.</li>
                        </ul>
                        <div class="col-lg-12 col-xl-12">
                            <h4 class="formSubTitle bt-0 pb-3">CHECK-OUT/IN TIME: 0900 HRS. 100% ADVANCE REQUIRED FOR THE ENTIRE DURATION OF STAY AT THE TIME OF BOOKING. </h4></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <h4 class="formSubTitle bt-0 pb-3">2. CANCELLATION POLICY FOR TCGL UNITS </h4></div>

                        <div class="col-lg-12 col-xl-12 table-responsive mt-3">
                            <table class="table  table-layout-fixed no-border">
                                <thead>
                                    <tr class="pinkbk">
                                        <th class="width-25">Season </th>
                                        <th class="width-45">Notice for Cancellation</th>
                                        <th class="width-15">Refund (in %) </th>
                                        <th class="width-15">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            All year round
                                        </td>
                                        <td>
                                            For on line booking –2 days (48 hours) prior to booking date
                                        </td>
                                        <td>
                                            90%
                                        </td>
                                        <td>
                                            All Units
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            All year round
                                        </td>
                                        <td>
                                            For physical booking – 2 clear working days excluding dateof application and date of booking. Public holidays and Sundayswill not be considered as said period of 2 days
                                        </td>
                                        <td>
                                            90%
                                        </td>
                                        <td>
                                            All Units
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <h4 class="formSubTitle bt-0 pb-3">3. NOTE </h4></div>

                        <ul class="policyUl">
                            <li>First Day Start from Booking Date</li>
                            <li>All disputes are subject to the jurisdiction of Ahmedabad courts only.</li>
                            <li>Amendments in dates will be treated as Cancellatio.</li>

                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <h4 class="formSubTitle bt-0 pb-3">4. REFUND AMOUNT POLICY </h4></div>

                        <div class="col-lg-12 col-xl-12 table-responsive mt-3">
                            <table class="table  table-layout-fixed no-border">
                                <thead>
                                    <tr class="pinkbk">
                                        <th class="width-15">Days </th>
                                        <th class="width-20">Refund Amount(in %)</th>
                                        <th class="width-45">Discription </th>
                                        <th class="width-15">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            3 To More
                                        </td>
                                        <td>
                                            90%
                                        </td>
                                        <td>
                                            For All Units
                                        </td>
                                        <td>
                                            All Season
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            0 To 2
                                        </td>
                                        <td>
                                            0%
                                        </td>
                                        <td>
                                            For All Units
                                        </td>
                                        <td>
                                            All Season
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
